.signal-page-frame {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.signal-page-left {
  background-color: #f5f5f5;
  min-height: 94vh;
  overflow: auto;
  border-right: 2px solid #c0c0c0;
}

.signal-page-right {
  background-color: lightcyan;
  width: 100%;
  overflow: auto;
}


#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: yellow;

}
