@import "~react-vis/dist/style.css";

.page {
  margin: 2rem;
  flex: 1;
  height: 100vh;
  min-height: 100vh;
}

.home-page-frame {
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.home-page-top {
  /* height: 50vh; */
  padding: 1rem;

  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 3%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.home-page-bottom {
  margin: 1rem 0;
  /* height: 50vh; */
  padding: 1rem;

  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 3%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.form-container {
  margin: 1rem 0;
  /* height: 50vh; */
  padding: 1rem;

  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 3%;
}

.home-page-frame div.row {
  margin: 1rem 0;
  font-weight: bold;
}

.button-tray button {
  margin: 0.5rem 1rem;
}

.filtered-list-box {
  margin: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.list-panel {
  border: 1px solid #ccc;
}

.list-panel ul {
  padding: 0;
}

.list-panel ul li {
  list-style: none;
}

.list-panel ul li:hover {
  background-color: #ccc;
}

.right-panel {
  align-self: top;
  justify-self: left;
  width: 50%;
}

.side-side {
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
}